<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{% block title %}ZOOM Login{% endblock %}</title>
</head>
<body>
  <header>

     {% load staticfiles %}

<div style="float:right;cursor:pointer;" id="show2d">
                <img src="{% static "image/logo.png" %}" alt="My image" style="height:30px;"/>
            </div>


    <h1>ZOOM Login</h1>
    {% if user.is_authenticated %}
      Hi {{ user.username }}!
      <a href="{% url 'logout' %}">logout</a>
    {% else %}
      <a href="{% url 'login' %}">login</a>
    {% endif %}
  </header>
  <hr>
  <main>
    {% block content %}
    {% endblock %}
  </main>
  <hr>
  <footer>
    <a href="http://www.itcadre.com">powered by ITCadre</a>
  </footer>
</body>
</html>